<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.liwen.go.module.right.mapper.UserMapper">
	<resultMap id="BaseResultMap" type="com.liwen.go.module.right.bean.User">
		<id column="USER_ID" property="userId" jdbcType="INTEGER" />
		<result column="USER_USERNAME" property="userUsername"
			jdbcType="VARCHAR" />
		<result column="USER_NAME" property="userName" jdbcType="VARCHAR" />
		<result column="USER_PASSWORD" property="userPassword"
			jdbcType="VARCHAR" />
		<result column="USER_IDENTIFIER" property="userIdentifier"
			jdbcType="CHAR" />
		<result column="USER_PHONE" property="userPhone" jdbcType="CHAR" />
		<result column="USER_EMAIL" property="userEmail" jdbcType="VARCHAR" />
		<result column="USER_SKIN" property="userSkin" jdbcType="TINYINT" />
		<result column="LAST_LOGIN" property="lastLogin" jdbcType="VARCHAR" />
		<result column="USER_IP" property="userIp" jdbcType="VARCHAR" />
		<result column="USER_SALT" property="userSalt" jdbcType="VARCHAR" />
		<result column="IS_LOCK" property="isLock" jdbcType="TINYINT" />
		<result column="USER_QQ" property="userQq" jdbcType="CHAR" />
		<association property="role"
			select="com.liwen.go.module.right.mapper.RoleMapper.selectByPrimaryKey"
			column="ROLE_ID" />
	</resultMap>
	<sql id="Base_Column_List">
		USER_ID, USER_USERNAME, USER_NAME, USER_PASSWORD,
		USER_IDENTIFIER, USER_PHONE,
		USER_EMAIL,
		USER_SKIN, LAST_LOGIN, USER_IP,
		USER_SALT, IS_LOCK, USER_QQ,ROLE_ID
	</sql>
	<sql id="No_Key_Column_List">
		USER_USERNAME, USER_NAME, USER_PASSWORD,
		USER_IDENTIFIER,
		USER_PHONE,
		USER_EMAIL,
		USER_SKIN, LAST_LOGIN, USER_IP,
		USER_SALT,
		IS_LOCK, USER_QQ,ROLE_ID
	</sql>
	<!-- 通过主键查找用户 -->
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from sys_user
		where USER_ID = #{userId,jdbcType=INTEGER}
	</select>
	<!-- 通过用户登录名查找用户 -->
	<select id="selectByUsername" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from sys_user
		where USER_USERNAME = #{username,jdbcType=VARCHAR}
	</select>
	<!-- 通过用户名查找用户权限 -->
	<select id="selectRoleByUsername">
		select
		<include
			refid="com.liwen.go.module.right.mapper.RoleMapper.Base_Column_List" />
		from sys_user t1 join sys_role t2 on t1.ROLE_ID = t2.ROLE_ID where
		USER_USERNAME=#{username,jdbcType=VARCHAR}
	</select>

	<!-- 插入一个用户 -->
	<insert id="insertOneUser" parameterType="com.liwen.go.module.right.bean.User">
		insert into
		sys_user(USER_USERNAME,USER_EMAIL,USER_PASSWORD,USER_SALT)
		values(#{userUsername,jdbcType=VARCHAR},#{userEmail,jdbcType=VARCHAR},#{userPassword,jdbcType=VARCHAR},#{userSalt,jdbcType=VARCHAR})
	</insert>
</mapper>