<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.3.xsd">


	<bean id="messageSource"
		class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basenames">
			<list>
				<value>i18n/pages</value>
				<value>i18n/login</value>
				<value>i18n/error404</value>
				<value>i18n/error500</value>
				<value>i18n/sidebar</value>
				<value>i18n/navbar</value>
				<value>i18n/validationMessages</value>
			</list>
		</property>
	</bean>

	<!-- 国际化支持 默认为AcceptHeaderLocaleResolver从请求他中的accept-language获取语言支持 -->
	<!-- <bean id="localeChangeInterceptor"
		class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor">
	</bean> -->

</beans>
