<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liwen.go.module.authz.mapper.RoleMapper">
	<insert id="createRole" parameterType="Role" useGeneratedKeys="true"
		keyProperty="id">
		insert into
		sys_roles(role, description, available)
		values(#{role},#{description},#{available})
	</insert>

	<delete id="deleteRole" parameterType="long">
		delete from
		sys_users_roles where role_id=#{roleId};
		delete from
		sys_roles_permissions where role_id=#{roleId};
		delete from sys_roles
		where id=#{roleId};
	</delete>

	<insert id="correlationPermissions" parameterType="map">
		insert into sys_roles_permissions(role_id, permission_id) values
		<foreach collection="permissionIds" item="permissionId"
			separator=",">
			(#{roleId},#{permissionId})
		</foreach>
	</insert>
	<delete id="uncorrelationPermissions">
		delete from sys_roles_permissions where role_id=#{roleId} and
		permission_id in
		<foreach collection="permissionIds" item="permissionId" open="("
			close=")" separator=",">
			#{permissionId}
		</foreach>
	</delete>

	<select id="exists" resultType="boolean" parameterType="map">
		select
		count(1)=1 from sys_roles_permissions where role_id=#{roleId} and
		permission_id=#{permissionId}
	</select>
</mapper>